<div class="panel panel-primary">
    <div class="panel-heading">brother-center通讯内容</div>
    <div class="panel-body">
        <div class="bs-callout bs-callout-danger" *ngFor="let item of currentConversation" [ngClass]="item.profile.id==1?'alert alert-success':'alert alert-info'">
            <div class="media" *ngIf="item.profile.id==1">
              <div class="media-left">
                <a href="#">
                          <img class="media-object" [src]="item.profile?.profilePic" width="50" alt="...">
                        </a>
              </div>
              <div class="media-body " >
                <h4 class="media-heading">{{item.profile?.name}} <span class="pull-right">{{item.time | date:"shortTime"}}</span></h4>
                {{item.message}}
              </div>
            </div>
          
          
            <div class="media" *ngIf="item.profile.id==2">
          
              <div class="media-body  textAlignRight">
                <h4 class="media-heading" >{{item.profile?.name}} <span class="pull-left f14px">{{item.time | date:"shortTime"}}</span></h4>
                {{item.message}}
              </div>
          
              <div class="media-right" >
                <a href="#">
                  <img class="media-object" [src]="item.profile?.profilePic" width="50" alt="...">
                </a>
              </div>
            </div>
          </div>
          
    </div>
  </div>

