<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <test></test>
  <test-interpolation></test-interpolation>
  <test-event-binding></test-event-binding>
  <test-ng-class></test-ng-class>
  <test-ng-for></test-ng-for>
  <test-ng-if></test-ng-if>
  <test-ng-model></test-ng-model>
  <test-ng-style></test-ng-style>
  <test-ng-switch></test-ng-switch>
  <test-pipe></test-pipe>
  <test-safe-nav></test-safe-nav>
  <test-local-variable></test-local-variable>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>